fastapi==0.119.0
uvicorn==0.37.0
pyjwt==2.10.1
python-multipart==0.0.20
pydantic==2.12.3
pydantic-settings==2.11.0
fiona==1.10.1
requests==2.32.3
pandas==2.3.3
pyarrow==23.0.1
numpy==2.4.6
Pillow==10.4.0
s2sphere==0.2.5
